/* default styles:
background color: #5a4439;
game map color: #3A2038
color: black;
font-family: 'Press Start 2P', cursive;
grey #B3B3B3
inventory color: #C7AA74
*/


body{
    background-color: #5a4439;
    height: 100vh;
}
#game{
    border: 8px solid black
}
.container{
    display: flex;
    flex-direction: row;

}
/* Sidebar*/
.sidebar{
    width: 33%;
    background-color: #C7AA74;
    border: 8px solid black
}
/* Sidebar Header */
.sidebar h1 {
    font-size: 3.5em;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}
/* Sidebar text */
.sidebar p {
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}



/* inventory */
.inventory{
    width: 30%;
    background-color: #C7AA74;
    border: 8px solid black;
}
.inventory h1 {
    font-size: 3.5em;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}
